<div class="header">
    <div class="leftSide">
        <h3 >Welcome {{user?.name}} {{user?.surname}}</h3>
        <span>You have {{message?.item2}} unread messages of {{message?.item1}}  messages</span>
    </div>
    <div class="rightSide">
        <img src="https://icons-for-free.com/iconfiles/png/512/email+google+internet+message+mobile+outlook+icon-1320192747631934788.png" />
        <a class="btn" style="position: absolute;right: 35px;top: 0;"(click)="Logout()"title="Logout">
            <img src="https://image.flaticon.com/icons/svg/659/659989.svg"style="width:28px" />
        </a>
    </div>
</div>
